* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
}

.menu li a:hover, .menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.button:hover {
    background-color: #999;
    color: #000000;
}

/*BEGINNING BANNER AREA*/
    .banner {
        height: calc(100vh - 100px);
        background-color: #333;
        background-image: url('../images/bg.jpg');
        background-size: cover;
        background-position: bottom;
        overflow: hidden
    }

    .banner .sliders {
        width: 1000vw;
        height: 100%;
    }

    .banner .slide {
        width: 100vw;
        height: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .banner .slidearea {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
    }

    .banner h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 50px;
    }

    .banner h1 span {
        color: #B28756;
    }

    .banner h2 {
        text-transform: uppercase;
        margin-top: 20px;
    }

    .banner .sliders_pointers {
        width: 100vw;
        height: 20px;
        position: absolute;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner .pointer {
        width: 15px;
        height: 15px;
        border: 2px solid #B28756;
        border-radius: 8px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .banner .pointer.active {
        background-color: #B28756;
    }
/*END BANNER AREA*/

/*BEGINNING ABOUT US, SERVICES, PROJECTS*/
    /*GENERAL*/
        .default {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .default .section_title, .section_desc {
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
        }

        .default .section_title {
            font-size: 20px;
        }

        .default .section_desc {
            font-size: 12px;
            color: #CCC;
            margin-top: 10px;
            margin-bottom: 40px;
        }

        .default .section_body {
            max-width: 1140px;
            margin: auto;
        }

        .default.light {
            background-color: #F7F7F7;
        }

        .default.light .section_title, .default.light .section_body {
            color: #000000;
        }

        .default.dark {
            background-color: #000000;
        }

        .default.dark .section_title, .default.dark .section_body {
            color: #FFFFFF;
        }
    /*GENERAL*/
    
    /*ABOUT US*/
        .section_aboutus {
            display: flex;
        }

        .section_aboutus_left {
            flex: 1;
        }

        .section_aboutus_left p {
            font-size: 14px;
            line-height: 25px;
        }

        .section_aboutus_right {
            width: 520px;
            text-align: center;
        }

        .section_aboutus_right img {
            width: 480px;
            box-shadow: 0px 5px 10px #333;
        }
    /*ABOUT US*/

    /*SERVICES*/
        .section_services {
            display: flex;
        }

        .section_service {
            flex: 1;
            text-align: center;
            border-right: 1px solid #333;
            padding: 15px;
        }

        .section_service:first-child {
            border-left: 1px solid #333;
        }

        .section_service h4 {
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 18px
        }

        .section_service p {
            margin-top: 10px;
            font-size: 13px;
            color: #999;
        }
    /*SERVICES*/

    /*PROJECTS MENU*/
        .section_projects {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .section_projects_filters {
            border: 1px solid #CCC;
            background-color: #EEE;
            border-radius: 30px;
            display: inline-block;
            padding: 0px 20px;
        }

        .section_projects_filters ul, .section_projects_filters li {
            list-style: none;
        }

        .section_projects_filters li {
            display: inline-block;
            padding: 10px;
            text-transform: uppercase;
            font-size: 13px;
            border-left: 1px solid #CCC;
            color: #555;
            border-bottom: 3px solid #EEE;
            cursor: pointer;
        }

        .section_projects_filters li:hover, .section_projects_filters li.active {
            border-bottom: 3px solid #B28756;
        }

        .section_projects_filters li:first-child {
            border-left: 0;
        }
    /*PROJECTS MENU*/

    /*PROJECTS CONTENT*/
        .section_projects_photos {
            width: 100vw;
            max-width: 1140px;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .section_projects_photo {
            width: 280px;
        }

        .section_projects_photo_area {
            margin: 10px;
            width: 260px;
            height: 160px;
        }
        .section_projects_photo_area img {
            width: inherit;
            height: inherit;
        }

        .section_projects_photo_info {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            width: inherit;
            height: inherit;
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #FFFFFF;
        }

        .section_projects_photo_info h5 {
            font-size: 18px;
            font-weight: 600;
        }

        .section_projects_photo_area:hover .section_projects_photo_info {
            display: flex;
        }
    /*PROJECTS CONTENT*/
    
    /*OUR TEAM*/
        .bgteam {
            background-image: url(../images/bg.jpg);
            background-size: cover;
            background-position: center;
            padding: 0;
        }

        .section_team_area {
            background-color: rgba(0, 0, 0, 0.8);
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .section_team {
            overflow: hidden;
            max-width: 880px;
            margin: auto;
        }

        .section_team .sliders {
            width: 1000vw;
            height: 100%;
        }
    
        .section_team .slide {
            width: 280px;
            height: 100%;
            display: inline-block;
            background-color: #FFFFFF;
            margin-right: 20px;
        }
    
        .section_team .slidearea {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: #000000;
            padding: 30px;
        }

        .section_team_area .sliders_pointers {
            margin-top: 30px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .section_team_area .pointer {
            width: 15px;
            height: 15px;
            border: 2px solid #B28756;
            border-radius: 8px;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
    
        .section_team_area .pointer.active {
            background-color: #B28756;
        }

        .section_team_avatar {
            width: 150px;
            height: auto;
        }

        .section_team_name {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 17px;
            margin-top: 30px;
        }

        .section_team_role {
            font-size: 14px;
            color: #999;
            margin-top: 5px;
        }

        .section_team_social {
            display: flex;
            margin-top: 20px;
        }

        .section_team_social a {
            display: inline-flex;
            width: 25px;
            height: 25px;
            background-color: #CCC;
            justify-content: center;
            align-items: center;
            border-radius: 13px;
            margin-right: 10px;
        }

        .section_team_social a:hover {
            background-color: #B28756;
        }
    /*OUR TEAM*/

    /*HAPPY CLIENTS*/
        .clients_review .section_body {
            max-width:initial;
        }

        .section_clients {
            overflow: hidden;
        }

        .section_clients .sliders {
            width: 1000vw;
            height: 100%;
        }

        .section_clients .slide {
            width: 100vw;
            height: 100%;
            display: inline-block;
        }

        .section_clients .slidearea {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
        }

        .section_client_avatar {
            width: 130px;
            margin-top: 25px;
        }

        .section_client_name {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 17px;
            margin-top: 30px;
        }

        .section_client_role {
            font-size: 14px;
            margin-top: 5px;
            font-weight: 600;
        }

        .section_client_quote {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        
        .section_client_review {
            font-size: 13px;
            max-width: 700px;
            color: #555;
            text-align: center;
            line-height: 25px;
            margin-left: 30px;
            margin-right: 30px;
        }

        .section_clients .sliders_pointers {
            width: 100vw;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            padding-right: 30px;
        }
    
        .section_clients .pointer {
            width: 15px;
            height: 15px;
            border: 2px solid #B28756;
            border-radius: 8px;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
    
        .section_clients .pointer.active {
            background-color: #B28756;
        }
    /*HAPPY CLIENTS*/
    
    /*COMPANYS*/
        .companys {
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
        }

        .companys_area {
            display: flex;
            align-items: center;
        }

        .company_logo {
            flex: 1;
            text-align: center;
        }
    /*COMPANYS*/

    /*PRICE*/
        .prices_area {
            display: flex;
        }

        .price {
            flex: 1;
            background-color: #FFFFFF;
            margin-right: 20px;
            padding: 30px;
            text-align: center;
        }

        .price:last-child {
            margin-right: 0;
        }

        .product_type {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }

        .product_price {
            font-weight: bold;
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 3px;
        }

        .product_period {
            color: #999;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .product_descrip {
            color: #555;
            font-size: 12px;
        }

        .prices_area .dark {
            background-color: #000000;
        }

        .prices_area .dark:hover {
            background-color: #999;
            color: #000000;
        }
    /*PRICE*/

    /*FEATURES*/
        .features .section_body {
            max-width: initial;
        }

        .products_features {
            overflow: hidden;
        }

        .products_features .sliders {
            width: 1000vw;
            height: 100%;
        }

        .products_features .slide {
            width: 100vw;
            height: 100%;
            display: inline-block;
        }

        .products_features .slidearea {
            display: flex;
            width: 1100px;
            max-width: 1440px;
            height: 100%;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #CCC;
            margin: auto;
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom:40px;
        }

        .product_photo {
            flex: 1;
            text-align:right;
        }

        .product_photo img {
            width: 300px;
            margin-right: 30px;
        }

        .right_area {
            flex: 1;
        }

        .product_feature {
            display: flex;
            margin-bottom: 20px;
        }

        .product_feature img {
            width: 25px;
            height: 25px;
            margin-right: 20px;
        }

        .product_feature div {
            flex: 1;
            color: #999;
            line-height: 20px;
        }

        .product_feature div h4 {
            color: #000000;
            font-size: 17px;
            font-weight: 600;
        }

        .products_features .sliders_pointers {
            width: 100vw;
            height: 20px;
            display: flex;
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .products_features .pointer {
            width: 15px;
            height: 15px;
            border: 2px solid #B28756;
            border-radius: 8px;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
    
        .products_features .pointer.active {
            background-color: #B28756;
        }

        .products_feature_button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .products_feature_button a {
            margin-left: 15px;
        }
    /*FEATURES*/

    /*SOME FACTS*/
        .section_facts {
            display: flex;
        }

        .section_fact {
            flex: 1;
            text-align: center;
            padding: 15px;
        }

        .section_fact h3 {
            color: #B28756;
            font-size: 50px;
        }

        .section_fact .scratch {
            background-color: #999;
            width: 22px;
            height: 4px;
            display: flex;
            margin: auto;
            
        }

        .section_fact h4 {
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 18px
        }

        .section_fact p {
            margin-top: 10px;
            font-size: 13px;
            color: #999;
        }
    /*SOME FACTS*/

    /*TELL ABOUT US*/
        .social_share {
            padding: 20px;
        }

        .social_media_body {
            display: flex;
            justify-content: center;
        }

        .left_side {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left_side img {
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }

        .left_side h4 {
            text-transform: uppercase;
            color: #999;
            font-weight: 600;
            font-size: 13px;
            margin-right: 50px;
        }

        .right_side {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .social_media_share {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
        }

        .social_media_logo {
            display: flex;
            width: 35px;
            height: 35px;
            border-radius: 35px;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
        }

        .twitter_logo {
            background-color: #00acee;
        }

        .linkedin_logo {
            background-color: #0e76a8;
        }

        .facebook_logo {
            background-color: #3b5998;
        }

        .googleplus_logo {
            background-color: #db4a39;
        }

        .pinterest_logo {
            background-color: #c8232c;
        }

        .twitter_logo:hover, .linkedin_logo:hover, .facebook_logo:hover, .googleplus_logo:hover, .pinterest_logo:hover {
            background-color: #000000;
            cursor: pointer;
        }
    /*TELL ABOUT US*/

    /*CONTACT US*/
        .section_contact_us {
            max-width: 450px;
            margin: auto;
            text-align: center;
        }

        .section_contact_us input[type=text], .section_contact_us input[type=email], .section_contact_us textarea {
            display:block;
            width:100%;
            height:40px;
            border:0;
            background:transparent;
            border-bottom:1px solid #CCC;
            outline:0;
            margin-top:10px;
        }

        .section_contact_us input[type=text]:hover, .section_contact_us input[type=email]:hover, .section_contact_us textarea:hover {
            border-bottom: 1px solid #B28756;
        }

        .section_contact_us textarea {
            height: 100px;
            padding-top: 70px;
            resize: none;
            font-size: 15px;
        }

        .name_email_input {
            display: flex;
        }

        .name_email_input input[type=text] {
            margin-right: 30px;
        }

        .section_contact_us input[type=submit] {
            border: 0;
        }  
    /*CONTACT US*/

    /*MAP AREA*/
        .section_map {
            background-image: url(../images/mapa.jpg);
            background-size: cover;
            background-position: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .map_area {
            width: 100vw;
            max-width: 1140px;
            margin: auto;
        }

        .map_info {
            width: 50%;
            padding: 30px;
            background-color: #FFFFFF;
            color: #000000;
        }

        .map_info_item {
            display: flex;
            align-items: center;
            color: #999;
            margin-bottom: 10px;
        }

        .map_info_item_img {
            width: 30px;
            height: 30px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background-color: #999;
            border-radius: 15px;
            margin-right: 15px;
        }

        .map_info_item_img img {
            width: 15px;
            height: auto;
        }
    /*MAP AREA*/
/*END ABOUT US, SERVICES, PROJECTS*/

/*FOOTER*/
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #000000;
    }

    .footer_contents {
        max-width: 1140px;
        margin: auto;
    }

    .footer_content {
        color: #FFFFFF;
    }

    .footer_social_media {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .footer_social_media div a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        background-color: #333;
        margin-left: 8px;
    }

    .footer_social_media div a:hover {
        background-color: #B28756;
    }

    footer h4 {
        margin-top: 150px;
        margin-left: 8px;
    }



    





/*FOOTER*/